.container {
  display: flex;
  height: 100vh;
  width: 100%;
  justify-content: center;
  align-items: center;
  background-image: url("../images/catalogofilmes.jpg");
  background-position: center bottom;

  h1{
    color: #fafafa;
  }

  form {
    width: 100%;
    background-color:  #191920;
    border: 3px solid #1D5AF3;
    width: 30%;
    padding: 2rem;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;

    .content{
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 1rem;
      
      padding: 0.5rem 0;
      
  
      input{
        padding: 1rem;
        border-radius: 0.875rem;
        border: none;
        background: #262A35;
        outline-width: 0.1px;
        outline-color: #327AD0;
        color: #fafafa;
        font-weight: 500;
        font-size: 18px;
      }
  }

  .enviar{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

    input[type="submit"] {
      background: #327AD0;
      border: none;
      padding: 0.675rem;
      border-radius: 12px;
      width: 100%;
    }
    p{
      color: #fafafa;
      font-size: 16px;

      a{
        color: #327AD0;
        font-weight: 600;
        text-decoration: none;
      }
    }
  }
  

  

  }
}